{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don-Shop | Confirmation</title>
    <!-- entre -->
    
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'css/tooplate-main.css'%}">
<link rel="shorcut icon" href="{%static 'image/iconez.png'%}">
<link rel="stylesheet" href="{%static 'style.css'%}">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<!-- sort -->
</head>
<body>
    <section class="loaders">
        <span class="loader loader-quart"></span>
        <!-- chargement... -->
    </section>
    <header>
        <a href="{% url 'home' %}" class="logo"><img src="{%static 'image/logo.png'%}" alt=""></a>
        <ul class="navmenu">
            <li><a href="{% url 'home' %}">accueil</a></li>
            <li><a href="#trending">produit</a></li>
            <li><a href="{% url 'contact' %}">contact</a></li>
            <li><a href="#apro">a propos</a></li>
        </ul>
        <div class="nav-icon">
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-muted list-group-item align-items-center "><p class=" badge-primary ">Nous avons reçu votre commande Mr/Mrs {{ name }}</p></h4>
                <h6 class="text-muted list-group-item align-items-center">Merci pour votre confiance, Vous seriez contactée dans un délai de 72 heures <br>sur ce numero :{{ num }}</h6><br><br><br><a class="badge badge-primary" href="{% url 'home' %}">Cliquez ici pour accéder à la page d’accueil</a>
            </div>
        </div>
    </main>
    <script src="{%static 'java.js'%}">
        localStorage.clear()
    </script>
</body>
</html>
